#selectors{
	width:950px;
	height:70px;
	background-color:#d8d8d8;
	border-radius:40px;
	position:absolute;
	z-index:10;
	top:50px;
	left:-770px;
}
#order_bar{
	width:400px;
	height:70px;
	/* background-color:purple; */
	float:left;
	margin-left:20px;
}
#num_bar{
	width:680px;
	height:20px;
	/* background-color:green; */
}
.num{
	width:50px;
	height:15px;
	float:left;
	/* margin-left:30px;
	margin-right:10px; */
	/* background-color:orange; */
	text-align:center;
	font-weight:bold;
	font-size:12px;
}
#num1{
	margin-left:30px;
}
#num2{
	margin-left:10px;
}
#num3{
	margin-left:10px;
}
#num4{
	margin-left:10px;
}
#num5{
	margin-left:10px;
}
#num6{
	margin-left:10px;
}
#sortable{
	height:0px;
	list-style-type: none;
	margin-top:0px;
	/* background-color:green; */
}
#sortable > li{
	width:50px;
	float:left;
	/* background-color:red; */
	margin-right:10px;
}
#f1{
	margin-left:-12px;
}
#f2{
	margin-left:-12px;
}
#f3{
	margin-left:-12px;
}
#f4{
	margin-left:-12px;
}
#f5{
	margin-left:-12px;
}
#f6{
	margin-left:-12px;
}
.factor{
	height:50px;
	border-radius:10px;
	margin-top:-5px;
}
#button_bar{
	width:300px;
	height:70px;
	/* background-color:yellow; */
	float:left;
	margin-left:10px;
}
#default{
	width:150px;
	height:50px;
	margin-top:10px;
	float:left;
	border:5px solid #f1f1f1;
	border-radius:10px;
	background-color:#469eb6;
	font-size:30px;
	font-family:'Indie Flower', cursive;
}
#submit{
	width:150px;
	height:50px;
	margin-top:10px;
	float:left;
	border-radius:10px;
	border:5px solid #f1f1f1;
	background-color:#469eb6;
	font-size:30px;
	font-family:'Indie Flower', cursive;
}
#trigger_bar{
	width:180px;
	height:70px;
	/* background-color:purple; */
	float:right;
	cursor:pointer;
}
#trigger_bar span{
	width:180px;
	float:left;
	/* background-color:black; */
	font-size:20px;
	font-family:'Indie Flower', cursive;
	color:steelblue;
}
#trigger_bar > i{
	/* background-color:red; */
	color:white;
	opacity:0.5;
}