#selectors{
	width:700px;
	height:50px;
	background-color:#d8d8d8;
	border-radius:40px;
	position:absolute;
	z-index:10;
	top:50px;
	left:-580px;
}
#order_bar{
	width:400px;
	height:70px;
	/* background-color:purple; */
	float:left;
	margin-left:20px;
}
#num_bar{
	width:680px;
	height:20px;
	/* background-color:green; */
}
.num{
	width:50px;
	height:12px;
	float:left;
	/* margin-left:30px;
	margin-right:10px; */
	/* background-color:orange; */
	text-align:center;
	font-weight:bold;
	font-size:12px;
}
#num1{
	margin-left:30px;
}
#num2{
	margin-left:10px;
}
#num3{
	margin-left:10px;
}
#num4{
	margin-left:10px;
}
#num5{
	margin-left:10px;
}
#num6{
	margin-left:10px;
}
#sortable{
	height:0px;
	list-style-type: none;
	margin-top:0px;
	margin-left:-5px;
	/* background-color:green; */
}
#sortable > li{
	width:35px;
	float:left;
	/* background-color:red; */
	margin-top:-7px;
	margin-right:20px;
}
#o1{
	
}
#o2{
	margin-left:5px;
}
#o3{
	margin-left:5px;
}
#o4{
	margin-left:5px;
}
#o5{
	margin-left:5px;
}
#o6{
	margin-left:5px;
}
#f1{
	margin-left:0px;
}
#f2{
	margin-left:0px;
}
#f3{
	margin-left:0px;
}
#f4{
	margin-left:0px;
}
#f5{
	margin-left:0px;
}
#f6{
	margin-left:0px;
}
.factor{
	height:35px;
	border-radius:10px;
	margin-top:0px;
}
#button_bar{
	width:140px;
	height:35px;
	/* background-color:yellow; */
	float:left;
	margin-top:10px;
	margin-left:5px;
}
#default{
	width:70px;
	height:35px;
	float:left;
	border:5px solid #f1f1f1;
	border-radius:10px;
	background-color:#469eb6;
	Font-family:'cwTeXYen', sans-serif;
	font-size:15px;
	cursor:pointer;
}
#submit{
	width:70px;
	height:35px;
	float:left;
	border-radius:10px;
	border:5px solid #f1f1f1;
	background-color:#469eb6;
	Font-family:'cwTeXYen', sans-serif;
	font-size:15px;
	cursor:pointer;
}
#trigger_bar{
	width:120px;
	height:50px;
	/* background-color:purple; */
	float:left;
	margin-left:5px;
	cursor:pointer;
}
#trigger_bar > a{
	width:120px;
	float:left;
	/* background-color:black; */
	font-size:10px;
	Font-family:'cwTeXYen';
	color:steelblue;
	text-align:center
}
#trigger_bar > i{
	/* background-color:red; */
	color:white;
	opacity:0.5;
}